This XML file does not appear to have any style information associated with it. The document tree is shown below.
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://qukuai.movesay.com/download/bic/bic.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>
http://www.apicloud.com/icon/1b/e2/1be2909a1afd05206626f60860833383.57x57.png
</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>
http://www.apicloud.com/icon/1b/e2/1be2909a1afd05206626f60860833383.57x57.png
</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.yao2.youxita</string>
<key>bundle-version</key>
<string>0.0.1</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>BIC</string>
<key>title</key>
<string>BIC</string>
</dict>
</dict>
</array>
</dict>
</plist>
